<%- include("header") -%>

    <div class="box" id="heading">
      <h1> <%= listTitle %> </h1>
    </div>
  
    <div class="todo-container">
      <% for (let i=0; i<newListItems.length; i++) { %>
        <form action="/delete" method="post">
          <div class="todo">
              <input name="checkbox" type="checkbox" value="<%= newListItems[i].id%>" onChange="this.form.submit()">
              <p><%=  newListItems[i].name   %></p>
            </div>  
            <input type="hidden" name="listTitle" value="<%= listTitle %>"> </input>
          </form>
        <% } %>
  
        <form class="todo" action="/" method="post">
          <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="list" value="<%= listTitle %>"><span class="fas fa-plus"></span></button>
          
        </form>
    </div>
 
  



<%- include("footer") -%>



